nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6rem;
  box-shadow: 2px 2px 2px black;
  background-color: rgb(77, 77, 210);
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.navbar-logo {
  margin-left: 20px;
}
.navbar-left {
  display: flex;
  gap: 10px;
  margin-left: -70rem;
}
.navbar-left > a {
  font-size: 19px;
  margin: 5px;
}
.dropdown {
  margin-right: 50px;
  font-size: 19px;
}
@media (max-width: 360px) {
  .navbar-left {
    display: flex;
    gap: 3px;
    margin-left: -2rem;
  }
  .navbar-left > a {
    font-size: 10px;
  }
  .dropdown {
    margin-right: 50px;
    font-size: 19px;
  }
  .dropdown {
    margin-right: 30px;
    font-size: 10px;
  }
}
